// Specific CSS for your home-page

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-bottom: 120px;   /* Height of the footer */
}

.welcomeimg {
  width: 165px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 43px;
}
