<div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://static.pexels.com/photos/361184/asparagus-steak-veal-steak-veal-361184.jpeg');">
<h3 class="text text-center"> Ready to Eat ?</h3>
  <p> <%= link_to "SIGN UP", new_user_session_path, class: "banner2link" %> </p>
</div>
