<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/11415/befa5c7cfca376be94eddaf5af8d72f6.jpg');">
  <div class="banner-content">
    <h1>COOKING MAMA</h1>
    <p>Pick it up it's ready!</p>
    <form class="form-inline" action='/meals'>
      <div class="form-group form-banner">
        <input id="meal_address" placeholder="Enter your address"
        onFocus="geolocate()" name="search" class="form-control address-input" type="text"></input>
        <button type="submit" class="btn-banner btn btn-md">Search</button>
      </div>
    </form>
  </div>
</div>
