<%= render 'shared/banner' %>

<h2 class="text-center">HOW IT WORKS</h2>

<div class="flex-container">
  <div class="row text-center">
    <div class="col-xs-4">
      <%= image_tag "student.png", class: "welcomeimg" %>
      <h3>Order.</h3>
      <p class="text-info">
        Find meals that fit your taste, location, and price.
      </p>
    </div>
    <div class="col-xs-4">
      <%= image_tag "take-away.png", class: "welcomeimg" %>
      <h3>Pick up.</h3>
      <p class="text-info">
        Stop by your neighborhood cook’s home to pick up your meal.
      </p>
    </div>
    <div class="col-xs-4">
      <%= image_tag "boy.png", class: "welcomeimg" %>
      <h3>Enjoy!</h3>
      <p class="text-info">
        Take it home and feast!
      </p>
  </div>
</div>


