<% content_for(:sidebar) do %>
  <div id="mySidenav" class="sidenav">
    <a href="#">History</a>
    <a href="#">Your dishes</a>
    <a href="#">Reviews</a>
    <a href="#">Settings</a>
  </div>
<% end %>

