<style>
  .container {
    margin-left: 200px; /* Same as the width of the tab */
    width: calc(100% - 200px);
  }
</style>

<% content_for(:sidebar) do %>
  <div id="mySidenav" class="tab">
    <span class="tablinks" onclick="openCity(event, 'History')" id="defaultOpen">History</span>
    <span class="tablinks" onclick="openCity(event, 'Meals')">Your meals</span>
    <span class="tablinks" onclick="openCity(event, 'Reviews')">Reviews</span>
  </div>
<% end %>

<div class="container">

  <div class="dash-view tabcontent" id="History">
    <%= render 'orders' %>
  </div>

  <div class="dash-view tabcontent" id="Meals">
    <%= render 'meals' %>
  </div>

  <div class="dash-view tabcontent" id="Reviews">
    <%= render 'reviews' %>
  </div>

</div>
