.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(1, 0, 1, 0.5);
  color: #DFBFE5;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  color: #DFBFE5;
  opacity: 0.8;
  margin-bottom: 30px;
}

.btn-banner {
  border-radius: 3px;
  background-color: white;
  color: black;
  padding: 7px;
}

label {
  height: 42px;
  margin-bottom: 2px;
  margin-right: 15px;
}
