.card-container{
  width: 60vw;
}

.meals {
  height: 100%;
}

.meal-card{
  flex: 1;
  height: 60%;
  margin: 10px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  &:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    .meal-name h4{
      color: $red;
    }
  }

  .card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .meal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .meal-img{
      background-repeat: no-repeat;
      background-size: cover !important;
      background-color: grey;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      // border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .meal-head {
      height: 52px;
      margin-top: 0;
      text-align: left;
      padding: 0px 20px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      h5 {
        margin: 0;
        width: 100%;
        overflow: hidden;
      }
    }

    .meal-info{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding: 0px 20px;
      margin-bottom: 8px;
    }

    .meal-price p {
      margin: 0px;
    }

    .meal-bottom-elements{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0px;
      border-top: 1px solid rgba(0,0,0,0.2);

      .meal-price{
        font-size: 16px;
        font-weight: 700;
        padding: 0px 20px;
      }

      .meal-order{
        padding: 0px 20px;

        .btn{
          padding: 0px 8px;
          font-size: 16px;

        }
      }
    }
  }



}
