.meals {
  height: 100%;
}

.meal-card{
  flex: 1;
  height: 60%;
  margin: 10px;
  padding: 20px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  &:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    .meal-name h4{
      color: $red;
    }
  }

  .card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
  }

  .meal-info{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .meal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .meal-img{
      background-color: grey;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      // border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .meal-head h4{
      margin-top: 0;
    }
  }



}
