.form{
  margin: 10px;
  label{
    font-size: 24px;
  }
  .button{
    text-align: center;
  }
}

.embedded-form{
  margin: 100px;
}

.left-half-form{
  padding-right: 60px;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.right-half-form{
  padding-left: 60px;
}
